
    header {
        background-color: greenyellow;
        color: rgb(66, 122, 181);
        padding: 20px;
    }

    section.feature-box {
        padding: 20px;
        background: white;
        display: flex;
        flex-direction: row;
    }

    section.sales div {
        padding: 20px;
        background: white;
        display: flex;
        flex-direction: row;
        background-color: grey;
    }

    div {
        background: red;
        width: 1000px;
    }
    
    footer {
        padding: 10px 20px;
        background-color: greenyellow;
    }
    
    h1 {
        color: red;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    h2 {
        color: green;
        opacity: 0.5;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
     body {
        color: blue;
        background-color: yellow;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    button {
        background-color: grey;
        border: none;
        color: whitesmoke;
        border-radius: 25px;
    }
